body {
  background-color: beige;
  font-family: "Roboto", sans-serif;
}

a{
    color:#C2ACF8
}

.content {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 20px;
}

header{
    border-bottom: 1px solid beige;
    padding: 0 0 30px 0;
}

.search-bar{
    background-color:#E7E7E7 ;
    border:none;
    border-radius: 6px;
    width: 80%;
    font-size:15px;
    padding: 18px 20px;

}
.search-button{
    background-color:#C2ACF8 ;
    padding: 18px 25px;
    border:none;
    font-size:15px;
    margin-left:8px;
    border-radius: 6px;
    color: #ffffff;
}

footer{
    border-top: 1px solid beige;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color:rgba(0, 0, 0, 0.6);
}